#ratesContainer {
    margin-top: 40px;
    display: inline;
}

#conversion {
    margin-top: 30px;
}

.text-left {
    margin-bottom: 20px;
}

.amountInput {
    width: 60%;
}

#conversionContainer {
    background-color: rgb(114, 137, 237);
}