#ratesContainer {
    margin-top: 40px;
    display: inline;
    background-color: aqua;
}

#conversion {
    margin-top: 30px;
}

.text-left {
    margin-bottom: 20px;
    background-color: aqua;
}

.amountInput {
    width: 60%;
}