#ratesContainer {
    margin-top: 40px;
    display: inline;
}


#conversionContainer {
    background-color: rgb(7, 84, 15);
    border-radius: 20px;
}

.form-control {
    width: 200%;
}

#header {
    padding-top: 20px;
}