.form-row {
    display: inline;
}

.form-group {
    width: 25%;
}

#converterBox {
    background-color: rgb(26, 96, 33);
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.input-group-prepend {
    display: flex;
}

.form-control-sm {
   width: 75px;
    
}

.form-control {
    margin-bottom: 10px;
}

#currencyLabels {
    color: white;
    margin-bottom: 10px;
}

#solution {
    margin-top: 15px;
    color: white;
    
}

h3 {
    width: 50%;
    text-align: center;
    padding-top: 28%;
    color: white;
}

#unitAmount {
    display: flex;
    flex-direction: column;
    color: white;
}

#targetQuote {
    display: flex;
    flex-direction: column;
    color: white;
}

p {
    color: black;
}

.text-secondary {
    display: inline-block;

    color: white;
}
    






